@import "./variables.scss";

.card {
  width: 200px;
  height: 403px;

  border: 1px solid #f3f3f3;
  border-radius: 5px;

  &__img-wr {
    padding: 15px 2px 0;
    transition: transform 1s;
    margin: 0 auto 42px;
    border: 3px solid transparent;
  }

  &__image {
    height: 134px;
    width: 160px;
    display: block;
  }

  &__img-wr:hover {
    transform: scale(1.2);
    border: 3px solid #f3f3f3;
    border-radius: 5px;
  }

  &__name {
    @include font-middle;
    font-weight: $font-weight-label;
    margin-bottom: 5px;
  }

  &__code {
    margin-bottom: 15px;
  }

  &__cost {
    @include font-large-bold;
  }

  &__review {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  &__stars {
    display: flex;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
  }

  &__buy {
    display: block;
    margin: auto;
    height: 40px;
    width: 170px;
    padding: 12px 0;

    background-color: #00acdc;

    font-size: 14px;
    line-height: 14px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;

    border-radius: 5px;
    border: 1px solid $accent-color;
    outline: none;
    text-align: center;

    transition: background-color 1s;
  }

  &__buy:hover {
    background-color: #fff;
    color: $accent-color;
  }
}
