@import "./variables.scss";

.catalog {

  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-auto-rows: 403px;
  justify-content: center;

  column-gap: 48px ;
  row-gap: 50px;

  margin-top: 50px;

  &__card {
    margin: 0 auto;
    padding: 12px 14px 14px;
  }

  &__card:hover {
    box-shadow: 0 1px 15px $card-border-color;
  }
}
