@import "./variables.scss";

.catalog {
  &__row {
    display: flex;
    justify-content: center;

    margin: 50px 0;
    padding: 0 40px;
  }

  &__card {
    padding: 12px 14px 14px;
    margin: 0 24px;
  }

  &__card:hover {
    box-shadow: 0 1px 15px #f3f3f3;
  }
}
