@import "./variables.scss";

.catalog {

  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  justify-content: center;
  max-width: $max-width-catalog;

  gap: 50px 48px;
  margin: 50px auto;

  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(4, 200px);
    max-width: $max-width-catalog;
  }

  &__card {
    margin: 0 auto;
    padding: 12px 14px 14px;
  }

  &__card:hover {
    box-shadow: 0 1px 15px $card-border-color;
  }
}
